body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6fa;
    color: #333;
}

header {
    background-color: #005f99;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    background-color: #d6f5d6;
    color: #1a1a1a;
    font-size: 1.25em;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

img {
    display: block;
    margin: 0 auto 20px auto;
    border-radius: 10px;
}